.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1400px;
}

.container .small {
  max-width: 768px;
}

.container .medium {
  max-width: 1200px;
}

.container .large {
  max-width: 1400px;
}
